.App {
  text-align: center;
  background-color: #dde3eb;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.titulo {
  background-color: #282c34;
  min-height: 10 vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  color: white;
}
.texto {
  background-color: #505154;
  min-height: 10 vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  color: white;
}
